header {
    height: 52px;
    position: fixed;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg,#2f2325, #8e5d52);  
    color: var(--text-color);
    z-index: 1;
}

nav {
    text-align: center;
    position: relative;
}

nav li {
    display: inline-block;
    margin: 16px 10px;
}

nav li:not(:last-child):after {
    content: "•";
    margin-left: 24px;
}

nav li a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s color;
}

nav li a:hover{
    color:var(--primary-color);
}

@media screen and (max-width:600px) {
    header {
        display: none;
    }
}